body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-parent-div{
  margin: 0;
  background-color: #f3f3f3;
}

.bg1{
  background-color: #27abdb;
  width: 100%;
  height: 300px;
}

.bg2{
  background-color:#123456;
  width:100%;
  height: 300px;
}

.user{
  background-color:#f0f8ff;
  z-index:1;
  width:60%;
  height:max-content;
  position: absolute;
  top:150px;
  left:20%;
}

.content{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.profile{ 
  padding: 10px;
  text-align: center;
  background-color:#dfdfdf;
  height: fit-content;
}

h2{
  color: #292a2b;
}

span{
  padding: 0 10px;
}

img{
  border: 1px solid #1e90ff;
  border-radius: 50%;
  text-align: center;
  width: auto;
  height: 20vh;
}

.user-details{
  color: #292a2b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:larger;
  margin:4px;
  
}

a{
  color: #292a2b;
  text-decoration: none;
}

button{
  background-color: #27abdb;
  width: 200px;
  height: 40px;
  margin: 10px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  color: #f0f8ff;
  border: none;
  box-shadow: 0 0 4px #292a2b;
}

button:hover{
  opacity: .5;
  transition: ease-in-out .5s;
}